/* style-light.css - Tema Claro */

@font-face {
    font-family: "RubikMonoOne";
    src: url(/fonts/RubikMonoOne-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
}

.theme-icon {
    font-size: 1.8em;
    text-align: end;
    margin-right: 10%;
    padding-top: 2%;
}

#light-theme {
    color: #ffb039;
}

#dark-theme {
    color: #003e9b;
}

body.theme-transition {
    transition: all 0.3s ease-in-out;
}

.secao-background {
    position: relative;
    z-index: 10;
    background-color: #fafafa;
    padding-bottom: 5em;
}

.container-portfolio {
    display: flex;
    flex-direction: column;
    align-items: justify;
    text-align: center;
    gap: 5px;
}

.container-portfolio h1 {
    font-family: "RubikMonoOne";
    text-align: justify;
    margin-bottom: 0;
    margin-top: 20px;
    padding-left: 10%;
}

.container-portfolio h1::after {
    content: " ";
}

h2,
h3 {
    text-align: center;
    font-family: Verdana;
}

.container-portfolio p {
    text-align: left;
    font-size: 0.7em;
    font-family: Verdana;
    margin-bottom: 2em;
    margin-top: 0;
    padding-left: 10%;
}

.container a,
.container h1 {
    text-decoration: none;
    color: #ce688a;
    font-weight: 700;
    position: relative;
}

.container a::before,
.container-portfolio h1::before {
    content: '';
    background-color: #ffe0eb;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.container a:hover::before,
.container-portfolio h1:hover::before {
    bottom: 0;
    height: 100%;
}


