@font-face {
    font-family: "RubikMonoOne";
    src: url(/fonts/RubikMonoOne-Regular.woff);
}
body{
    background-color: #f7f7f7;
}


.container-portfolio {
    display: flex;
    flex-direction: column; 
    align-items: justify;
    text-align: center; 
    gap: 5px;
}

.container-portfolio h1{

    font-family: "RubikMonoOne";
    text-align: justify;
    margin-bottom: 0;
}
.container-portfolio h1::after{
    content: " ";
}

h2, h3{
    text-align: center;
    font-family: Verdana;
}
.container-portfolio p{
    text-align: left;
    font-size: 0.7em;
    font-family: Verdana;
    margin-bottom: 2em;
    margin-top: 0; 
}

.container a, .container h1 {
    text-decoration: none;
    color: #ce688a;
    font-weight: 700;
    position: relative;
  }
  
  .container a::before, .container-portfolio h1::before     {
    content: '';
    background-color: #ffe0eb;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .container a:hover::before,  .container-portfolio h1:hover::before   {
    bottom: 0;
    height: 100%;
  }

/*efeito de escrita*/
#typewriter-text {
    white-space: nowrap;
    flex-wrap: wrap;
    overflow: hidden;
    border-right: 0.1em solid black;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}



.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1 1 calc(80% - 10px); 
    max-width: 200px; 
}

.gallery-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 1px #949494;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-image:hover {
    transform: scale(1.05); 
}


.lightbox {
    display: none;
    background-color: #000000c7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    justify-content: center;
    align-items: center;
}

.lightbox-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    
}

.lightbox-image {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.226);
    margin-bottom: 20px;
}

.lightbox-details {
    font-family: verdana;
    background-color: #f7f7f7;
    width: 80%;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.226);
    text-align: center;
}

.lightbox-close {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 2em;
    color: #f7f7f7;
    cursor: pointer;
    transition: 0.4s;
    border: 2px solid;
    padding: 4px 8px;
}

.lightbox-close:hover {
    background-color: #d4557f;
    color: #ff9ec0;
}

.lightbox-tech i {
    display: inline-block; 
    margin-right: 10px; 
    font-size: 2em; 
    vertical-align: middle; 
}
.lightbox-tech i:hover {
    color: #6e6e6e;
    transition: 0.5s;
}

.project-link {
    display: block; 
    margin-top: 10px; 
    font-size: 1.5em; 
    color: #d4557f;
    text-decoration: none; 
}

.project-link:hover {
    text-decoration: underline; 
}

.category-filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 2em;

}
.category-filter button{
  
    border-radius: 15px;
    padding: 0.5em 2em;
    color: #696969;
    border: 1px solid #cacaca;
    font: 0.8em Verdana;
    font-weight: bold;
    transition: 0.3s;
}
.category-filter  .filter-btn-active {
    background-color: #d4557f; 
    color: white; 
}
.category-filter button:hover{
    background-color: #5894bd;
    color: #f7f7f7;
    cursor: pointer;
}